
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    box-sizing: border-box;
position: relative;
}

.screen {
    text-align: center;
    padding: 20px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }


.hidden {
    display: none;
}


button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #afad4c;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .screen {
        font-size: 16px;
    }
}
/* The animation code */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }
